
body{
    background-image: url(/images/galeria4.jpg);
    background-repeat: no-repeat;
    background-size:cover;
}
.formulario{
    width: 50%;
    margin: 70px auto;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
}
.formulario h2{
    width: 60%;
    margin: 20px auto;
    margin-bottom: 0;
    font-size: 2em;
    font-weight: 800;
}
#parrafo{
    width: 80%;
    margin: 10px auto;
    padding: 1em;
    font-size: 1.3em;
    font-weight: medium;
}
.items{
    width: 70%;
    margin: 20px auto;
}
.items label{
    font-size: 1.4em;
    font-weight: 600;
    vertical-align: top;
    width: 20%;
    display: inline-block;
    margin-right: 40px;
}
.items input,
.items textarea{
    background-color: rgba(255, 255, 255, 1);
    border-radius: 5px;
    border: 1px solid #999;
    padding: 0.4em .6em;
    font-size: 0.8em;
    width: 70%;
}
.items textarea{
    height: 10em;
    resize: none;
}
.formulario a{
    text-decoration: none;
}
.formulario h3{
    width: 30%;
    margin: 0 auto;
    border-radius: 5px;
    background-color: #660099;
    color: white;
    text-align: center;
    padding: 3px;
}
.formulario h3:hover{
    opacity: 0.8;
}
