@font-face {
    font-family: 'icomoon';
    src:  url('/fonts/icomoon.eot?ujaoju');
    src:  url('/fonts/icomoon.eot?ujaoju#iefix') format('embedded-opentype'),
      url('/fonts/icomoon.ttf?ujaoju') format('truetype'),
      url('/fonts/icomoon.woff?ujaoju') format('woff'),
      url('/fonts/icomoon.svg?ujaoju#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
*{
    margin: 0;
    padding: 0;
    font-family: 'Mukta', sans-serif;
}
body{
    background-image: url(/images/back2.png);
    background-repeat: no-repeat;
    background-size:cover;
}
a{
    text-decoration: none;
    color: black;
}
.nav .logo h3{
    font-size: 3em;
    font-weight: 400;
    margin-left: 30px;
    color: white;
    /* position: relative;
    bottom: 5px; */
    float: left;
    /* margin-top: 5px ;
    margin-left: 10px; */
}
@keyframes animacion{
0% {transform: translate(-350px, 15px);}
25% {transform: translate(-300px, 0px);}
37.5% {transform: translate(-250px, -15px);}
50% {transform: translate(-200px, 0px);}
62.5% {transform: translate(-150px, 15px);}
75% {transform: translate(-100px, 0px);}
87.5%{transform: translate(-50px, 15px);}
100% {transform: translate(0px, 0px);}
} 
@keyframes animacion2{
25% {transform: rotate(60deg) scale(1.5);}
75% {transform: rotate(-60deg) scale(1);}
}

.nav .logo img{
    width: 60px;
    margin-left: 40px;
    margin-right: 140px;
    float: left;
    animation: animacion 1s ease;
}
.logo:hover img{
    animation: animacion2 3s ease;
    animation-fill-mode: forwards;
}
.nav{
    background-color: #660099;
    height: 80px;
    padding: 10px;
}

.nav ul li{
    list-style: none;
    display: inline-block;
    margin-top: 15px;
    margin-right: 35px;
}

.nav ul li a{
    font-size: 1.7em;
    color: white;
    text-decoration: none;
    text-align: center;
    display: block;
    
}
.nav ul li a.activo{
    text-decoration: underline;
}

.nav ul li a:hover{
    text-decoration: underline;
    opacity: 0.7;
}

.box1{
    background-color: white;
    opacity: 0.7;
    border-radius: 5px;
    /* border: solid rgb(3, 3, 3) 1px; */
    margin: 70px 70px;
    /* width: 20%; */
    padding: 30px;
    /* float: left; */
    transition: all 0.5s ease;
    cursor: pointer;
}
.box1 a{
    text-decoration: none;
    color: black;
}
.box1 h6{
    font-size: 1em;
    color: #660099;
    padding: 6px;
    
}

.box1 h4{
    font-size: 1.7em;
    padding: 5px;
}
.box1 p{
    font-size: 1.3em;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box1:hover{
    transform: scale(1.1);
}
.carousel-item img{
    height: 600px;
}
.box2{
    /* background: white; */
    background-color:rgba(255, 255, 255, 0.7) ;
    /* opacity: 0.7; */
    padding: 30px;
    /* width: 40%; */
    cursor: pointer;
    
}
.box2 h3{
    font-size: 2em;
    padding: 10px;
    line-height: 45px;
    /* margin: 10px; */
}
.box2 p{
    font-size: 2em;
    padding: 20px;
    /* display: flex;
    justify-content: flex-end; */
}
.intro{
    border-top: solid 3px black;
    border-bottom: solid 3px black;
    margin: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.items{
    width: 33%;
    margin: 50px 30px;
    text-align: center;
    cursor: pointer;
}
.intro .items img{
    width: 150px;
}

.intro .items h5{
    margin: 30px;
    font-size: 2em;
    font-weight: 500;
}
.items:hover{
    /* color: white; */
    transform: scale(1.1);
    /* background-color: rgba(0,0,255, 0.7); */
    /* border-radius: 50%; */
}

footer{
  background-color: #660099;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer ul li{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    
}

footer ul li a{
    color: white;
    font-size: 1.6em;
    margin: 50px 25px;
    text-decoration: none;
}
footer ul li a:hover{
    text-decoration: none;
    color: white;
    opacity: 0.7;
}
.redes{
    margin:auto 25px;
    
}

.icon-facebook,
.icon-instagram,
.icon-twitter,
.icon-youtube{
    font-family:'icomoon';
}
.icon-tiktok {
    content: "\e900";
  }
  .icon-facebook::before {
    content: "\ea90";
  }
  .icon-instagram::before {
    content: "\ea92";
  }
  .icon-twitter::before {
    content: "\ea96";
  }
  .icon-youtube::before {
    content: "\ea9d";
  }
  .icon-twitch {
    content: "\ea9f";
  }

  footer p{
      color: white;
  }