
.carousel-item img{
    width: 100%;
    height:550px;
    text-align: center;
    cursor: pointer;
}
h2{
    text-align: center;
    margin-top: 35px;
    font-size: 50px;
    font-weight: 900;
    
}
.imagenes{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    margin: 30px auto;
    margin-left: 12px;
}
.items{
    margin: 15px;
    transition: all 0.5s ease;
    cursor: pointer;
}
.items img{
    width: 100%;
    height: 100%;
}

.items:hover{
transform: scale(1.1);
}