
/* .carousel-item img{
    width: 100%;
    text-align: center;
    cursor: pointer;
} */
header{
    margin: 40px;
    text-align: center;
}
header > h2{
    margin: 15px auto;
    font-size: 5em;
    font-weight: 800;
}
.novedades-container{
    display: flex;
    justify-content: center;
}
.card{
    margin: 30px;
    width: 30%;
    background-color: rgba(220, 220, 220, 0.7);
    border-radius: 5px;
    display: flex;
    cursor: pointer;
    transition: all 0.5s ease;
    box-sizing: border-box;
}

.card img{
    width:150px ;
    height: 150px;
    border-radius: 50%;
    margin:auto 5px;
}
.card .texto{
    align-items: center;
    margin: auto 10px;
    padding: 5px;
}
.texto h3{
    font-size: 1.1em;
    font-weight: 700;
    margin-bottom: 10px;
   
}
.texto p{
    font-size: 1em;
}
.card:hover{
    transform: scale(1.1);
}
@media screen and (max-width: 992px){
    .card img{
        margin: auto;
    }
    .card .texto{
        margin: auto;
    }
}
@media screen and (max-width: 576px){
    .novedades-container{
        display: block;
    }
    .card{
        padding: 10px;
        margin: 10px auto;
        display: block;
        width: 90%;
        transition: none;
    }
    .card:hover{
        transform: none;
    }
}
@media screen and (max-width: 480px){
    header > h2{
        margin: 15px auto;
        font-size: 3em;
        font-weight: 800;
        text-align: left;
    }
}