
@font-face {
    font-family: 'icomoon';
    src:  url('/fonts/icomoon.eot?ujaoju');
    src:  url('/fonts/icomoon.eot?ujaoju#iefix') format('embedded-opentype'),
      url('/fonts/icomoon.ttf?ujaoju') format('truetype'),
      url('/fonts/icomoon.woff?ujaoju') format('woff'),
      url('/fonts/icomoon.svg?ujaoju#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
*{
    margin: 0;
    padding: 0;
    font-family: 'Mukta', sans-serif;
}
body{
    background-image: url(/images/back.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
a{
    text-decoration: none;
    color: black;
}
.nav .logo h3{
    font-size: 3em;
    font-weight: 400;
    margin-left: 30px;
    margin-top: 5px ;
    color: white;
    float: left;
}

@keyframes animacion2{
25% {transform: rotate(60deg) scale(1.5);}
75% {transform: rotate(-60deg) scale(1);}
}

.nav .logo img{
    width: 60px;
    margin-left: 40px;
    margin-right: 140px;
    float: left;
    animation: animacion 1s ease;;
}
.logo:hover img{
    animation: animacion2 3s ease;
    animation-fill-mode: forwards;
}
.nav{
    height: 70px;
    padding: 10px;
}

.nav ul li{
    list-style: none;
    display: inline-block;
    margin-top: 20px;
    margin-right: 35px;
}

.nav ul li a{
    font-size: 1.7em;
    color: white;
    text-decoration: none;
    text-align: center;
    display: block;
    
}
.nav ul li a.activo{
    text-decoration: underline;
}

.nav ul li a:hover{
    text-decoration: underline;
    opacity: 0.7;
}
.blog-container{

    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.blog-container > h2{
    color: white;
    font-size: 5em;
    font-weight: 800;
    text-align: center;
    margin: 20px;
    width: 100%;
}
.blog-container > h3{
    color: white;
    width: 100%;
    font-size: 2em;
    font-weight: 600;
    text-align: center; 
    margin: 15px;
}

.cards{
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 5px;
    width: 80%;
    margin: 15px auto;
    padding: 12px;
    cursor: pointer;
}
.cards h3{
    font-size: 2em;
    margin: 20px auto;
}
.cards p{
    font-size: 1.3em;
    font-weight: 400;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  footer ul li{
      display: inline-flex;
      align-items: center;
      justify-content: center;
      
  }
  
  footer ul li a{
      color: white;
      font-size: 1.6em;
      margin: 50px 25px;
      text-decoration: none;
  }
  footer ul li a:hover{
      text-decoration: none;
      color: white;
      opacity: 0.7;
  }
  .redes{
      margin:auto 25px;
      
  }
  
  .icon-facebook,
  .icon-instagram,
  .icon-twitter,
  .icon-youtube{
      font-family:'icomoon';
  }
  .icon-tiktok {
      content: "\e900";
    }
    .icon-facebook::before {
      content: "\ea90";
    }
    .icon-instagram::before {
      content: "\ea92";
    }
    .icon-twitter::before {
      content: "\ea96";
    }
    .icon-youtube::before {
      content: "\ea9d";
    }
    .icon-twitch {
      content: "\ea9f";
    }
    footer p{
        color: white;
    }