
.contenedor{
    width: 70%;
    margin: 20px auto;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 3px;
}
.contenedor .intro{
    width: 70%;
}
.contenedor .intro h2{
    font-size: 3em;
    font-weight: 800;
    margin: 10px;
}

.contenedor .intro p{
    margin: 10px;
    font-size: 1.2em;
}
.intro a{
    text-decoration: none;
}
.contenedor .intro h3{
    background-color: #660099;
    width: 21%;
    font-size: 1.7em;
    color: white;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    margin: 25px 10px;
}
.contenedor .intro h3:hover{
    opacity: 0.8;
}
.contenedor h4{
    font-size: 2em;
    font-weight: 600;
    margin: 30px 10px 10px;
}
.contenedor p{
    font-size: 1.1em;
    margin: 30px 10px 10px;
}
@media screen and (max-width: 992px){
    .contenedor .intro h3{
        font-size: 1.2em;
    }
}
@media screen and (max-width: 768px){
    .contenedor .intro h3{
        width: 90%;
        margin: 0 20%;
        text-align: center;
    }
    .contenedor .intro{
        width: 80%;
    }
}
@media screen and (max-width: 576px){
    .contenedor .intro{   
        width: 100%;
    }
    .contenedor .intro h2{
        width: 75%;
        font-size:2.2em ;
        margin: 0 auto;
    }
    .contenedor .intro h3{
        width: 90%;
        margin: 0 auto;
        text-align: center;
    }
}